%input{	
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid #eaeaea;
	background: #f7f7f7;
	box-shadow: none;
	outline: none;
	font-family: $fontFamily;
}

.form{
	position: relative;
	&-title{		
		font-size: px(48);
		font-family: "UniSans";		
		font-weight: 300;
		color: rgb(255, 106, 47);
		text-transform: uppercase;
		line-height: 1.2;
		text-align: left;   
		margin-bottom: 23px;
	}
	&-field{
		margin-bottom: 7px; 
		label{
			font-size: $bodyFontSize; 
			display: block; 
			margin-bottom: 15px;
		}
		@extend %last;
	}
	.zNice-tInput input {
		padding: 5px 15px;
	}
	.zNice-tInput input,
	.zNice-select {
		height: 43px;
		padding: 5px 15px;
	}
	.zNice-select {
	    line-height: 32px;
    }
	.zNice-tArea textarea{		
		padding: 13px 0 8px 15px;	
	}
	.zNice-tArea textarea, .zNice-tInput input, .zNice-select{
		font-size: 16px;
		font-family: "Roboto";
		color: rgb(104, 112, 120);
		background: transparent;
		border-width: 0;
	}
	.zNice-tInput .zNice-bg,
	.zNice-tArea .zNice-bg,
	.zNice-select .zNice-bg {
		border-radius: 3px;
		background-color: rgb(255, 255, 255);
		border-width: 0;
	}
	.zNice-select-list li.zNice-selected>.zNice-select-item, 
	.zNice-select-list li:hover>.zNice-select-item {
	    background: #529cde;
	}
	.zNice-tInput.zNice-error .zNice-bg {
	    border: 2px solid #fb4242;
	}
	.zNice-select-open {
		background: transparent;
	}
	.zNice-select-text .zNice-select-item {
		padding-left: 0;
	}
	.zNice-select-list {
		white-space: normal;
	}
}