body *{
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
}
.main{
	position: relative;
	//z-index: 4;
	overflow: hidden;
}
.container {
	margin: 0 auto;
	padding: 0 $containerPadding;
	position: relative;
	z-index: 1;
	@extend %clear;
}
.section{
	position: relative;
	width: 100%;
	@media (min-width:1041px){ 
		display: table;
		table-layout: fixed;
	}
	&-inner{
		@media (min-width:1041px){ 
		    display: table-cell;
    		vertical-align: bottom;
			width: 100%;
		}
	}
}
.tabs {
	@extend %clear;
	.sidebar {
		float: left;
		width: pxtopercent(394);  
		padding-right: pxtopercent(53);
		@media (max-width:767px){ 
			width: 100%;
			margin-bottom: 30px;
			padding-right: 0;
		}
	}
	.content {
		float: left;
		width: pxtopercent(713);
		@media (max-width:767px){ 
			width: 100%;
		} 
	}
}

.footer { 
	//position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;
	
	&_placeholder{
		height: 0;
	}
}
.row {
	margin-left: -10px;
	margin-right: -10px;
	@extend %clear;
}
.col{
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	width: 50%;
	@media (max-width:767px){ 
		width: 100%;
	}
}

figure{
	margin: 0;
} 
[data-tabId] {
	cursor: pointer;
}
.slick-slide{
	outline: none;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
	z-index: 999;
}

.mbox{
	width: $mbox;
	margin: 0 auto;
	padding: 0 10px;
}

.middleblock {
	transform: translateY(-50%);
    top: calc(50% + 40px);
    position: absolute;
    left: 0;
    right: 0;
}

.preview {
	.middleblock {
		@media (max-width:1024px) {	
    		top: calc(50% + 25px);
     	}
	}
}

.casual {
	background-position: center center;
	background-size: cover; 
	background-attachment: fixed;
	&-inner {
	    background-color: rgba(0, 4, 24, 0.851);
		padding: px(94) 0 px(0);
		padding-bottom: px(74);
	}
}

.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}
.curtainContainer .copy {
    position: absolute;
    bottom: 0%; left: 0;
    width: 100%; text-align: center;
}

.section-double {
	z-index: -1;
}

@media (max-width:1024px){ 
	.section-double {
		height: auto !important;
	}
	.bcg{
		display: none;
	}
	.section-double .bcg.bcg3 {
		background-image:url('../img/pattern-5.png');
		display: block;
	}
} 
@media (min-width:1025px){ 
	.hsContainer {
	    display: table;
	    table-layout: fixed;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	    position: relative;
	}
	.hsContent {
	    display: table-cell;
	    vertical-align: middle;
	}
	.bcg {
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	    height: 100%;
	    width: 100%;
	}
	.section-double {
		position: relative; height: 1958px;
	}
	.section-double .bcg {
		background-image:url('../img/pattern-5.png');
	}
	.section-double .bcg2 {
	    background-color: #000;
	    position: fixed;
	    bottom: 0; 
	    left: 0;
	    opacity: 0;
	    z-index: 1
	}
	.section-double .bcg3 {
	    background: none;
	    background-color: #010101;
	    position: fixed; 
	    bottom: 0; 
	    left: 0;
	    opacity: 0; 
	    z-index: 2;
	}
}