<div id="heatedup" class="advantages section"
	data-center="background-position: 50% 0px;"
    data-bottom-top="background-position: 50% 80px;"
    data-top-bottom="background-position: 50% -80px;">
    <div class="section-inner">
		<div class="mainheading">Get Heated Up</div> 
		<div class="advantages-inner">
			<div class="container">
				<div class="tabs">
					<div class="sidebar">
						<a href="#" class="button button-large" data-tabId="1" id="exchanges">Exchanges</a>
						<a href="#" class="button button-large" data-tabId="2" id="join">Join The HEAT Team</a>
						<a href="#" class="button button-large" data-tabId="3" id="cases">Use cases</a>
					</div>
					<div class="content">
						<div class="tabs-list">
						<div class="tabs-item ctext" data-tab="1"><p>HEAT will carry its own decentralized crypto exchange within the system itself.<br>
						Additionally the HEAT token will be traded on multiple online crypto exchanges:<br><br>
						<a href="https://www.ccedk.com/dc/openledger">OpenLedger</a><br>
						<a href="http://fitcoin.fi">Fitcoin</a><br>
						<a href="https://lompsa.com/#/activity/fim/assets/latest">FIMK AE</a><br>
						(more to come)</p></div>
						<div class="tabs-item ctext" data-tab="2"><p>Heat Ledger Ltd has multiple positions open for part-time, online, and full time work. Please message us suggestions about what you could do for us.</p></div>
						<div class="tabs-item ctext" data-tab="3"><p>Use cases for the HEAT decentralized ledger software will be listed here.</p></div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>