<div class="contacts" 
	data-center="background-position: 50% 0px;"
    data-bottom-top="background-position: 50% 80px;">
	<div class="mainheading">Connect</div>
	<div class="contacts-inner"> 
		<div class="container">
			<div class="row mbox">
				<div class="col contacts-info">
					<div class="contacts-item">
						<i class="icon icon-contacts icon-mail"></i>
						<p> <B>info</B> [at] <B>heatledger</B> [dot] <B>c o m</B></p>
					</div>
					<div class="contacts-item">
						<i class="icon icon-contacts icon-map"></i>
						<p>HEAT Ledger Ltd<br>
						Pasilanraitio 9, 5. krs<br>
					00240 Helsinki<br>
					Finland</p></div>
				</div>
				<div class="col">
					<div class="form zNice">
						<form action="signup.cgi" method="post">
							<div class="form-title">Contact us</div>
							<div class="form-field">
								<input type="email" name="mail" placeholder="Email" required="required" />
							</div>
							<div class="form-field">
								<select placeholder="Subject" >
								 <option value="1">I'd like to sign up for your newsletter (and receive 0.5% rebate for ICO!)</option>
								 <option value="2">I have a business proposal</option>
								 <option value="3">I need more information about HEAT Ledger</option>
								 <option value="4">Other, please specify below</option>
							</select>
							</div>
							<div class="form-field">
								<textarea name="message" placeholder="Message" rows="7"></textarea>
							</div>
							<button type="submit" class="button button-block">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
	    <div class="mbox">
	        <div class="footer-socials">
	            <a href="#"><i class="icon icon-socials fb"></i></a>
	            <a href="#"><i class="icon icon-socials tw"></i></a>
	            <a href="#"><i class="icon icon-socials you"></i></a>
	            <a href="#"><i class="icon icon-socials rss"></i></a>
	        </div>
	        <div class="footer-copyright">© 2016 HEAT Ledger. All Rights Reserved.</div>
	    </div>
	</footer>  
</div> 

