<div class="header-menu">
    <div class="navbar-toggle">
        <span class="icon-container">
            <span class="line line01"></span>
            <span class="line line02"></span>
            <span class="line line03"></span>
            <span class="line line04"></span>
        </span> 
    </div>
    <nav class="navbar topMenu">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#heat">H.E.A.T. FEAT</a>
                    <ul>
                        <li><a href="#heat" data-href="#overview" class="tab-link">System overview</a></li>
                        <li><a href="#heat" data-href="#software" class="tab-link">Client software</a></li>
                        <li><a href="#heat" data-href="#whitepaper" class="tab-link">Whitepaper</a></li>
                        <li><a href="#heat">ICO</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#wallet">WALLET</a>
                    <ul>
                        <li><a href="#wallet" data-href="#waletmain" class="tab-link">Wallet</a></li>
                        <li><a href="#wallet" data-href="#download" class="tab-link">Download</a></li>
                        <li><a href="#" target="_blank">Web wallet</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#team">Team</a>
                    <ul>
                        <li><a href="#team" data-href="#staff" class="tab-link">Staff</a></li>
                        <li><a href="#team" data-href="#representation" class="tab-link">Local representation</a></li>
                        <li><a href="#team" data-href="#events" class="tab-link">Events</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#heatedup">Get Heated Up</a>
                    <ul>
                        <li><a href="#heatedup" data-href="#exchanges" class="tab-link">Exchanges</a></li>
                        <li><a href="#heatedup" data-href="#join" class="tab-link">Join The HEAT Team</a></li>
                        <li><a href="#heatedup" data-href="#cases" class="tab-link">Use cases</a></li>
                        <li><a href="#heatedup">News</a></li>
                    </ul>
                </li>
                <li>   
                    <a href="#slide-5">CONNECT</a>
                    <ul>
                        <li><a href="#slide-5">Blog</a></li>
                        <li><a href="#slide-5">Facebook</a></li>
                        <li><a href="#slide-5">Twitter</a></li>
                        <li><a href="#slide-5">Forum</a></li>
                        <li><a href="#slide-5">Contact us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>