<div id="team" class="team section"
	data-center="background-position: 50% 0px;"
    data-bottom-top="background-position: 50% 80px;"
    data-top-bottom="background-position: 50% -80px;">
    <div class="section-inner">
		<div class="mainheading">Team</div>
		<div class="team-inner">
			<div class="container tabs">
				<div class="team-type">
					<figure class="active" data-tabId="1" id="staff">
				    	<div class="picture"><img src="img/thumb-1.png" alt="" /></div>
				   		<figcaption>Staff</figcaption>
				   </figure>
					<figure data-tabId="2" id="representation">
				    	<div class="picture"><img src="img/thumb-2.png" alt="" /></div>
				   		<figcaption>Local representation</figcaption>
				   </figure>		
					<figure data-tabId="3" id="events">
				    	<div class="picture"><img src="img/thumb-1.png" alt="" /></div>
				   		<figcaption>Events</figcaption>
				   </figure>
				</div>
					<div class="team-list ctext slider" data-tab="1">
					<div>
						<div class="media">
							<div class="media-left">
						    	<div class="picture" style="background-image:url(img/lehtinen_portrait.jpg)"></div>
							</div>
							<div class="media-body">
								<h4>Svante Lehtinen</h4>
								<p>Project leader, seasoned professional with 20 years of enterpreneurship experience from dozens of e-payment projects under his belt. Svante is the founder of the 2.0 cryptocurrency FIMK from 2014 and the COB of the nonprofit Krypto Fin ry association.</p>
							</div>
						</div>
					</div>
					<div>
						<div class="media">
							<div class="media-left">
								<div class="picture" style="background-image:url(img/portrait_dm_de_klerk.jpg)"></div>
							</div>
							<div class="media-body">
								<h4>Dennis de Klerk</h4>
								<p>The lead developer of HEAT, Genius java programmer and systems designer since 1999. Dennis has implemented large scale cryptocurrency projects from start to finish since 2013. Creator of the FIMK cryptocurrency, he is also an advisory member of the NXT core team.</p>
							</div>
						</div>
					</div>
					<div>
						<div class="media">
							<div class="media-left">
								<div class="picture nophoto" style=""></div>
							</div>
							<div class="media-body">
								<h4>Mystery Marketer</h4>
								<p>The position for the third member of the HEAT core team is open and will be revealed later in 2016. Do you have what it takes? Please contact us!</p>
							</div>
						</div>
					</div>
				</div>			
				<div class="team-list ctext" data-tab="2">
					<p>HEAT employs online representatives in various countries and areas for local promotion. Please contact us at info[at]heatledger.com if interested.</p>
				</div>	
				<div class="team-list ctext" data-tab="3">
					<p>Relevant live events where HEAT Ledger participates are published here.</p>
				</div>
			</div>
		</div>
	</div>
</div>