<div class="thumbnails">
	<div class="container">
		<div class="row">
				<div class="col">
				<div class="thumbnails-item">
					<div class="thumbnails-item-inner">
						<h2>Generation 3.0 Crypto<br></h2>
						<p align="left"> H.E.A.T. Ledger stands for Heuristically Enhanced Asynchronous Transactions Ledger, embodying a completely new way of structuring cryptocurrency and peer-to-peer decentralized asset ledger. Optimized for speed and architected for custom private chains in mind, HEAT readily provides excellent solution for crowdfunding and IPO arrangements of any size.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="thumbnails-item">
					<div class="thumbnails-item-inner">
						<h2>Unlimited scalability</h2>
						<p align="left">HEAT's unbounded vertical scalability is only limited by the performance of the hardware used. Utilizing not a single blockchain but a chain of them, and removing embedded databases through the use of off-heap memory mapped binary files, the HEAT blockchain is able to sustain transaction throughput of at least <B>1000 tps</B> 24/7.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="thumbnails-item">
					<div class="thumbnails-item-inner">
						<h2>Multisig Currencies</h2>
						<p align="left">The unique HEAT crypto client provides access to major cryptocurrencies including BTC, ETH, FIMK and NXT. Distributed Apps, Instant Messaging and Multi-Sig capabilities of the client ensure security and latest features for all: 3rd party cryptocurrencies and fiat tokens in the native HEAT custom Asset-2-Asset exchange.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>  