<div id="wallet" class="wallet section"
	data-center="background-position: 50% 0px;"
    data-bottom-top="background-position: 50% 80px;"
    data-top-bottom="background-position: 50% -80px;">
	<div class="section-inner">
		<div class="mainheading">Wallet</div>
		<div class="wallet-inner ctext">
			<div class="container mbox tabs">
				<div class="team-type">
					<figure class="active" data-tabId="1" id="waletmain">
				    	<div class="picture"><img src="img/thumb-2.png" alt="" /></div>
				   		<figcaption>Wallet</figcaption>
				   </figure>
					<figure data-tabId="2" id="download">
				    	<div class="picture"><img src="img/thumb-2.png" alt="" /></div>
				   		<figcaption>Download</figcaption>
				   </figure>		
					<figure>
						<a href="#" target="_blank">
					    	<div class="picture"><img src="img/thumb-2.png" alt="" /></div>
					   		<figcaption>Web wallet</figcaption>
				   		</a>
				   </figure>
				</div>
				<div data-tab="1">
					<div class="ctext">
						<p><br>
						</p>
					</div>
					<div class="row ">
						<div class="w-icon col wow slideInLeft" data-wow-duration="2s" data-wow-offset="300">
							<div title="Colored asset-to-asset exchange for custom token trading, crypto exchanges, crowdfunding and company IPOs. Built-in BTC, ETH, FIMK and NXT gateways enable direct crypto-crypto p2p trading." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-1.png" alt=""></div>
								<h4>a2a exchange</h4>
							</div>
						</div>
						<div class="w-icon col wow slideInRight" data-wow-duration="2s" data-wow-offset="300">
							<div title="HEAT software is available in 4 different modes: Web client, downloadable thin client, Full node server,  Replicated custom node. These modes serve the needs ranging from the occasional home user to large corporate operators." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-2.png" alt=""></div>
								<h4>multi-mode</h4>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="w-icon col wow slideInLeft" data-wow-duration="2s" data-wow-offset="300">
							<div title="Using end-to-end encryption from endpoint to another provides high security. For data exchange where no blockchain archive is desired (such as confidential chat), blockchain storage is surpassed altogether." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-3.png" alt=""></div>
								<h4>encrypted / off-chain </h4>
							</div>
						</div>
						<div class="w-icon col wow slideInRight" data-wow-duration="2s" data-wow-offset="300">
							<div title="Nodes can store one or more blockchain files in torrent-like manner. Files with lowest network presence receive highest probability for block rewards." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-4.png" alt=""></div>
								<h4>modular blockchain</h4>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="w-icon col wow slideInLeft" data-wow-duration="2s" data-wow-offset="300">
							<div title="Replication layer of HEAT is an event based optional and configurable event sink mechanism where you run HEAT together with a MySQL (or any other brand of) database server. This setup provides real-time virtual exchange that settles high-frequency trades at a rate of 1000 tps. HEAT Ledger Ltd provides replicated setup for thin client users. Corporations set up their own replication layer to work with the HEAT blockchain, or a cloned blockchain of their own." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-5.png" alt=""></div>
								<h4>real-time replication layer</h4>
							</div>
						</div>
						<div class="w-icon col wow slideInRight" data-wow-duration="2s" data-wow-offset="300">
							<div title="The HEAT Crypto client supports multiple cryptocurrencies starting from HEAT, BTC, ETH, FIMK and NXT. Further cryptocurrencies can be added later through modular design." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-6.png" alt=""></div>
								<h4>multi-currency</h4>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="w-icon col wow slideInLeft" data-wow-duration="2s" data-wow-offset="300">
							<div title="Store and access multiple private keys for different crypto blockchains, with a click of a mouse. All accessible from the compact HEAT Crypto client." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-7.png" alt=""></div>
								<h4>multi-account</h4>
							</div>
						</div>
						<div class="w-icon col wow slideInRight" data-wow-duration="2s" data-wow-offset="300">
							<div title="Name your private wallet file as you like and it's automatically encrypted with your own master PIN / passphrase. Store separate private keys for your accounts offline for backup, or memorize them. This flexibility allows for maximum portability and recoverability." class="masterTooltip">
								<div class="w-icon-image"><img src="./img/wicon-8.png" alt=""></div>
								<h4>brain wallet.dat</h4>
							</div>
						</div>
					</div>
					</div>
					<div class="ctext" data-tab="2">
						<p>The HEAT Crypto Client and server executable download for Linux / Window / Mac will be available on Github in September 2016.<br>
						App for Iphone and Android can be downloaded at Google Play and Appstore during 2016.</p>
					</div>
					<div class="ctext" data-tab="3">
						<p><center>The HEAT Crypto Client and server executable download for Linux / Window / Mac will be available on Github in September 2016.</center><br>
						</p>
					</div>
			</div>
		</div>
	</div>
</div>