.wallet{
	@include background('pattern-2.jpg');
	padding: px(92) 0 0 0;
	&:before{
		/*content:'';
		@extend %full;
		@include background('pattern-2.png');*/
	}
	.section-inner {
	    z-index: 0;
    	position: relative;
	}
	&-inner{
		background-color: rgba(255, 255, 255, 0.831);
		padding: px(50) 0 px(41) 0;
	    z-index: 3;
	}
	.ctext{
		p{
			font-size: px(15);
			color: rgb(52, 52, 85);
			line-height: 26px;
			//text-align: center;			
		}
	}
	.mainheading{
		margin-bottom: px(120,72);
		@media (max-width:767px){			
			margin-bottom: px(50, 72);
		}
	}  
	&.section{
		.wallet-inner{
		    position: relative;
		    left: 0;
		    right: 0;
		    bottom: 10%;
		}
	}
	.team-type{
	    margin-top: -128px;
	    top: 0;
        margin-bottom: px(50);

	    figure figcaption {
		    color: #407aa3; 
		}
		@media (max-width:767px){
		    margin-top: -68px;
		}
	} 
}
.w-icon{
	margin-bottom: 25px;
	@media (max-width: 767px){ 	
		text-align: center;
	}
	.masterTooltip {
		display: inline-block;
	}
	&-image{
		@extend %inline-middle;		
		width: 30%;
		padding-right: 15px;
		@media (max-width: 767px){ 
			width: auto;
		}
	}
	h4{
		color: #343455;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		@media (max-width: 767px){ 
			display: block;
			padding-top: 10px;	
			text-align: center;
		}
	} 
} 